.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  background-color: #212529;
  width: 100vw;
  height: 8vh;
  padding-top: 2vh;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.menu {
  display: flex;
  height: 7vh;
  width: 100vw;
  background-color: #343a40;
}
