.menuItem {
  flex: 1;
  color: white;
  font-size: 1rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.menuItem:hover {
  background-color: #495057;
}

.menuItem:active, .menuItem.active {
  background-color: #1862ab;
}